DB_URL=postgresql+asyncpg://{USER}:{PASSWORD}/{URL_TO_DATABASE}/{DATABASE}
DB_ECHO=True

JWT_PRIVATE_KEY_PATH=/path/to/private/key
JWT_PUBLIC_KEY_PATH=/path/to/public/key
JWT_ALGORITHM=RS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_RESPONSE_TOKEN_EXPIRE_DAYS=7
